<!--TESTANDO O @if e @else-->

<!--ANTES DO ANGULAR 17
<div>
  <h1>Testando o if e else Antes do Angular 17</h1>
  <div *ngIf="isTrue; else elseBlock">
    <h4>É verdade</h4>
  </div>

  <ng-template #elseBlock>
    <h4>Não é verdade</h4>
  </ng-template>
</div>
-->

<h1>Testando o if e else Angular 17</h1>
@if (isTrue) {
  <h4>É verdade</h4>
} @else {
  <h4>Não é verdade</h4>
}

<!--TESTANDO O @switch-->

<!--ANTES DO ANGULAR 17
<h1>Testando o switch antes do Angular 17</h1>
<div [ngSwitch]="usuarioLogado">
  <p *ngSwitchCase="'ADM'">Usuario é: {{usuarioLogado}}</p>
  <p *ngSwitchCase="'Cliente'">Usuario é: {{usuarioLogado}}</p>
  <p *ngSwitchCase="'Operador'">Usuario é: {{usuarioLogado}}</p>
</div>
-->

<h1>Testando o switch Angular 17</h1>
@switch (usuarioLogado) {
  @case('ADM') {
    <p>Usuario é: {{usuarioLogado}}</p>
  }

  @case('Cliente') {
    <p>Usuario é: {{usuarioLogado}}</p>
  }

  @case('Operador') {
    <p>Usuario é: {{usuarioLogado}}</p>
  }
}

<!--TESTANDO O @for-->

<!--ANTES DO ANGULAR 17
<h1>Testando o for antes do Angular 17</h1>
<div *ngFor="let fruta of listaDeFrustas">
  <p>{{fruta}}</p>
</div>
-->

<h1>Testando o for Angular 17</h1>
@for (fruta of listaDeFrustas; track $index) {
  <p>{{fruta}}</p>
}

<!--Testando alguns recursos do for

<h1>Testando o for com o last</h1>
<div *ngFor="let fruta of listaDeFrustas; let isLast = last">
  <p>{{fruta}}</p>
  <ng-template [ngIf]="isLast">
    <p> >>> Fim da Lista <<< </p>
  </ng-template>
</div>
-->

<h1>Testando o for com o last e empty Angular 17</h1>
@for (fruta of listaDeFrustas; track $index; let last = $last) {
  <p>{{fruta}}</p>
  @if (last) {
    <p> >>> Fim da Lista <<< </p>
  }
} @empty {
  <p>Lista vazia</p>
}

<h1 #titulo>Testando o defer</h1>

@defer (on viewport(titulo)) {
  <app-fruta></app-fruta>
} @placeholder {
  <p>Carregando...</p>
}

@defer (on hover(titulo)) {
  <app-fruta></app-fruta>
} @placeholder {
  <p>Carregando...</p>
}


<h1>Testando o Input Value Transforms</h1>
<!--Antes do Angular 17-->
<app-fruta [disabled]="true"></app-fruta>

<!--Angular 17-->
<app-fruta disabledAngular17></app-fruta>


<!-- Testando Signals-->
<h1>Testando o Signals</h1>

<p>Signal -> {{signalTeste()}}</p>

<p> {{this.mostrarContador()}}</p>

<p>computed -> {{computedTeste()}}</p>

<!--Exemplo para não chamar funções no template
<p>
  {{funcaoTeste()}}
</p>
-->

<button (click)="executar()">executar</button>
<button (click)="alterar()">Alterar</button>
